@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mukta', sans-serif;
   border: none;
   text-decoration: none;
   list-style-type: none;
}

body {
   background: url(../assets/img/back-wow.jpg) center/cover fixed;
   overflow: hidden;
   font-size: 1.4rem;
   color: whitesmoke;
}